.contact__container {
  z-index: 1;
  position: relative;
  height: 100%;
  margin-top: 30%;
  /* padding-bottom: 20em; */
  display: flex;
  text-align: center;
  margin-left: 6%;
  margin-right: 6%;
}
