@font-face {
  font-family: "Righteous-Regular";
  src: local("Righteous-Regular"),
    url("../assets/fonts/Righteous-Regular.ttf") format("woff");
}

.bottom__bar__container {
  font-family: "Righteous-Regular";
  display: flex;
  align-items: center;
  height: 40px;
  background: #fe7b7b;
  color: #3f002f;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.bottom__flex__wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.bottom__bar__container p {
  cursor: pointer;
  font-size: 23px;
}
