/* .full__container {
    display: flex;
    overflow-x: scroll;
    
}

.horizontal__container {
    width: 100%;
    margin-left: 20px;
    position: relative;
}

.full__project__img {
    width: 900px;
}

.text__container__full {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-family: "InknutAntiqua-Light";
    color: #fe7b7b;
    line-height: 20px;
}

.title__full {
    font-weight: bold;
    font-size: 20px;
} */