@font-face {
  font-family: "InknutAntiqua-Light";
  src: local("InknutAntiqua-Light"),
    url("../assets/fonts/InknutAntiqua-Light.ttf") format("woff");
}

.card__container {
  position: relative;
  height: 370px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 20px;
  z-index: 0;
}

/* .card__text__container {
  font-family: "InknutAntiqua-Light";
  text-align: center;
  width: 100%;
  color: #fe7b7b;
  line-height: 20px;
} */

.card__text__container {
  font-family: "InknutAntiqua-Light";
  text-align: left;
  width: 100%;
  color: #fe7b7b;
  line-height: 20px;
  margin-top: -39px;
  order: 1;
}

.card__text__container p {
  margin: 0;
}

.card__title {
  padding-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* .card__title:hover {
  color: #fefe00;
  text-shadow: 0 0 5px #fff, 0 0 20px rgba(254, 254, 0, 0.7),
    0 0 10px rgba(254, 254, 0, 0.7);
} */

/* SWIPER -------- */
