@font-face {
  font-family: "Righteous-Regular";
  src: local("Righteous-Regular"),
    url("../assets/fonts/Righteous-Regular.ttf") format("woff");
}

.ticker__container {
  width: 100%;
  /* position: absolute; */
  z-index: -1;
}

.ticker__text {
  font-family: "Righteous-Regular";
  color: #3f002e;
  font-size: 30px;
  width: max-content;
  padding-right: 5px;
}
