@media only screen and (min-width: 800px) {
  .home__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 70px;
    /* margin-right: 10%;
    margin-right: 10%; */
  }
  .card__container {
    width: 40%;
    /* height: 550px; */
    height: 750px;
    margin: 0;
    font-size: 20px;
    /* padding-bottom: 50px; */
  }
  /* .card__container__full {
    width: 100%;
    height: 800px;
    margin: 0;
  } */

  .swiper-button-prev {
    display: initial;
    opacity: 0;
    color: #fefe00;
    text-shadow: 0 0 10px #fff, 0 0 10px rgba(254, 254, 0, 0.7);
    top: 11%;
    left: 0;
    padding: 20% 35% 20% 3%;
    transition: all ease-in-out 0.2s;
    transform: translateX(+10px);
  }

  .swiper-button-next {
    display: initial;
    opacity: 0;
    color: #fefe00;
    text-shadow: 0 0 10px #fff, 0 0 10px rgba(254, 254, 0, 0.7);
    top: 11%;
    right: 0;
    padding: 20% 3% 20% 35%;
    transition: all ease-in-out 0.2s;
    transform: translateX(-10px);
  }

  .swiper-button-next:hover {
    opacity: 1;
    transform: translateX(0px);
  }

  .swiper-button-prev:hover {
    opacity: 1;
    transform: translateX(0px);
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    margin-top: 25px;
  }

  .swiper-pagination-bullet {
    border-radius: 0;
    background-color: #fe7b7b;
    opacity: 1;
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background-color: #fefe00;
    box-shadow: 0 0 5px #fff, 0 0 20px rgba(254, 254, 0, 0.7),
      0 0 10px rgba(254, 254, 0, 0.7);
  }

  .bottom__flex__wrap {
    /* display: flex;
    justify-content: space-between;
    width: 100%; */
    margin-right: 20px;
    margin-left: 20px;
  }

  .bottom__bar__container p {
    font-size: 30px;
  }

  .dum__space__home {
    display: none;
  }

  .infos__container {
    width: 100%;
    line-height: 30px;
    margin-left: 20px;
    font-family: "InknutAntiqua-Light";
    text-align: left;
    width: 100%;
    color: #fe7b7b;
    font-size: 25px;
  }

  .infos__content1 {
    width: 600px;
  }
}
