@media only screen and (min-width: 800px) {
  .home__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 70px;
  }

  .home__container__full {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
  }

  
  .card__container {
    width: 48%;
    margin: 0;
    font-size: 20px;
    padding-bottom: 2%;

  }


  .card__text__container {
    line-height: 25px;
    font-size: 16px;
  }

  .title__arrow__container {
    display: flex;
    align-items: baseline;
    width: fit-content;
  }


  .swiper-container {
    width: 100%;
    position: initial;
    display: flex;
    flex-direction: column;
  }


  .swiper-button-prev {
    display: initial;
    opacity: 0;
    color: #fefe00;
    text-shadow: 0 0 10px #fff, 0 0 10px rgba(254, 254, 0, 0.7);
    top: 13%;
    left: 0;
    padding: 20% 35% 20% 3%;
    transition: all ease-in-out 0.2s;
    transform: translateX(+10px);
  }

  .swiper-button-next {
    display: initial;
    opacity: 0;
    color: #fefe00;
    text-shadow: 0 0 10px #fff, 0 0 10px rgba(254, 254, 0, 0.7);
    top: 13%;
    right: 0;
    padding: 20% 3% 20% 35%;
    transition: all ease-in-out 0.2s;
    transform: translateX(-10px);
  }

  .swiper-button-next:hover {
    opacity: 1;
    transform: translateX(0px);
  }

  .swiper-button-prev:hover {
    opacity: 1;
    transform: translateX(0px);
  }

  /* .swiper-container-horizontal > .swiper-pagination-bullets {
    margin-right: -2px;
  } */

  .swiper-pagination-bullet {
    border-radius: 0;
    background-color: #fe7b7b;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: #fefe00;
    box-shadow: 0 0 5px #fff, 0 0 20px rgba(254, 254, 0, 0),
      0 0 10px rgba(254, 254, 0, 0);
  }

  .bottom__flex__wrap {
    /* display: flex;
    justify-content: space-between;
    width: 100%; */
    margin-right: 20px;
    margin-left: 20px;
  }

  /* .bottom__bar__container p {
    font-size: 30px;
  }

  .emoji__rail {
    height: 60px;
  }
  .top__bar__container p {
    font-size: 30px;
  } */

  .dum__space__home {
    display: none;
  }

  .infos__container {
    width: 100%;
    line-height: 30px;
    margin-left: 20px;
    font-family: "InknutAntiqua-Light";
    text-align: left;
    width: 100%;
    color: #fe7b7b;
    font-size: 25px;
  }

  .infos__content1 {
    width: 600px;
  }
  .full__container {
    display: flex;
    overflow-x: scroll;
  }

  .full__container::-webkit-scrollbar {
    display: none;
  }
  
  .horizontal__container {
    width: 100%;
    /* margin-left: 20px; */
    position: relative;
  }
  
  .full__project__img {
    max-height: 100vh;
    
  }

  .back__arrow__container {
    width: 200px;
    position: absolute;
    color: #fe7b7b;
    font-size: 20px;
    font-family: "InknutAntiqua-Light";
    left: 20px;
    bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .arrow {
    animation: translateBack 0.4s ease-in reverse infinite;
    animation-direction: alternate;
  }

  @keyframes translateBack {
    0%   { transform: translate(0%) }
    100% { transform: translate(40%) }
  }
  
  /* .text__container__full {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-family: "InknutAntiqua-Light";
    color: #fe7b7b;
    line-height: 20px;
  }
  
  .title__full {
    font-weight: bold;
    font-size: 20px;
  } */
}

